---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galerie">
  <h3 class="my-4">Galerie</h3>
  <div class="row row-cols-2 mb-4">
    <img class="col p-2" src="/galleryImgs/nature.jpeg" alt="" />
    <img class="col p-2" src="/galleryImgs/sheep.jpeg" alt="" />
    <img class="col p-2" src="/galleryImgs/pool.jpg" alt="" />
    <img class="col p-2" src="/galleryImgs/playground.jpg" alt="" />
  </div>
</Layout>
