---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galerie">
  <div class="row row-cols-2">
    <img class="col p-1" src="/galleryImgs/nature.jpeg" alt="" />
    <img class="col p-1" src="/galleryImgs/sheep.jpeg" alt="" />
    <img class="col p-1" src="/galleryImgs/pool.jpg" alt="" />
    <img class="col p-1" src="/galleryImgs/playground.jpg" alt="" />
  </div>
</Layout>
