<footer>
  <div class="row row-cols-3">
    <div>
      <h4>Kontakt</h4>
      <ul class="list-unstyled">
        <li>+420 123 456 789</li>
        <li>email@email.cz</li>
        <div>
          <li>Facebook Icon</li>
          <li>Icon</li>
        </div>
      </ul>
    </div>

    <div>
      <h4 class="text-center">Adresa</h4>
      <ul class="list-unstyled">
        <li>Myslivna 160</li>
        <li>Černý Důl</li>
        <li>PSČ</li>
      </ul>
    </div>

    <div>
      <h4>Rezervace</h4>
      <ul class="list-unstyled">
        <li>
          <a href="#">Úvod</a>
        </li>
        <li>
          <a href="#">Galerie</a>
        </li>
        <li>
          <a href="#">Ceník</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center">Vyrobila <a href="https://github.com/evadob">evadob</a>, 2023</div>
</footer>
