<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container px-0">
    <a class="navbar-brand" href="/">
      Myslivna
      <img
        src="/icons/jelen.png"
        alt="Logo"
        width="22"
        height="22"
        class="d-inline-block align-text-top"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/ubytovani">Ubytování</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/galerie">Galerie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cenik">Ceník</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
      <a class="btn btn-outline-success reservation" href="/rezervace"
        >Rezervace</a
      >
    </div>
  </div>
</nav>
